<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.AaronChan.mynote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name="com.AaronChan.mynote.utils.ApplicationUtils"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.AaronChan.mynote.activity.NoteEditActivity"
            android:windowSoftInputMode="stateVisible"
            android:label="NoteEdit"></activity>
       <provider 
           android:name="com.AaronChan.mynote.db.DBContentProvider"
           android:authorities="com.Aaron.mynote"
         android:multiprocess="true"
         
           ></provider>
       <receiver android:name="com.AaronChan.mynote.receiver.NoteAlarmReceiver"
           android:process=":remote">
           <intent-filter >
               <action android:name="com.AaronChan.mynote.intent.alarm"/>
           </intent-filter>
       </receiver>
       <service android:name="com.AaronChan.mynote.service.AlarmService"></service>
    </application>

</manifest>
